/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);
body {
	background-image: url(../img/pizza1.jpg);
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
}
p {
	padding: 10px;
}
.content-box {
	width: 80%;
	background-color: rgba(255,255,255,0.5);
	margin: 0 auto;
	box-shadow: 2px 2px 6px #555;
}
.logo {
	float: left;
	margin-right: 20px;
}
.name {
	font-size: 36px;
	font-weight: bold;
	color: #116189;
	font-family: Boogaloo;
}
.description {
	font-size: 120%;
	font-style: italic;
}
.end {
	font-size: 80%;
	font-style: italic;
}
h2 {
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #116189;
}
nav ul {
	background-color: #490A3D;
	margin: 0 auto;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 110%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #8E41D5;
	border-radius: 5px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}